
<tr class="blog">
    <td class="blog"><img src="{{ post.author.avatar(36) }}"></td>
    <td class="blog"><span class="blogname">
            <span class="timestamp">{{ moment(post.timestamp).fromNow() }}</span>
        {% if current_user.username != post.author.username %}
            <a href="{{  url_for('user', username=post.author.username) }}"> {{ post.author.username }} </a></span>
        {% else %}
            {{ post.author.username }}
        {% endif %} </span>
        said: <br><span class="blogpost"> {{  post.body }}</span></td>
</tr>
