{% extends "base.html" %}
{% include '_post_table_scripts.html' %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.post.label }}<br>
                {{ form.post(cols=32, rows=4) }}<br>
                {% for error in form.post.errors %}
                    <span class="error">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endif %}

    {% if others and others != "all" %}
        <div class="checkbox">
            <label>
                <input id="others_check" type="checkbox" onclick="othersCheckCallback()">  Display Other's Posts
            </label>
        </div>
    {% endif %}

    {% if explore %}
        <h3>Explore all of the blog posts: </h3>
    {% endif %}
    {% include '_post_table.html' %}
    <br>
    {% include '_new_old_buttons.html' %}

{% endblock %}

